.sidebar {
  width: 250px;
  background-color: #000;
  color: white;
  padding-top: 2rem;
  position: fixed;
  height: 100vh;
}

.sidebar-title {
  color: #fff;
}

.divider {
  border-color: #333;
}

.icon {
  color: #fff;
}

.sidebar-text {
  color: #fff;
}

.content {
  margin-left: 250px;
  padding-top: 2rem;
  width: calc(100% - 250px);
  overflow-x: hidden;
}
